<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PlayList</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<!--<link rel="stylesheet" type="text/css" href="css/style1.css">-->
	<link rel="stylesheet" type="text/css" href="css/stylem.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="css/glitch-slideshow.css" />





	<script>
		document.documentElement.className = "js";
		var supportsCssVars = function () {
			var e, t = document.createElement("style");
			return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports &&
				window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
		};
		supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
	</script>
</head>

<body class="demo-2 loading">

	


	
	<main>
		<div class="content">
			<div class="slides slides--contained effect-2">

				<div class="slide slide--current">

					<div class="slide__img glitch" style="background-image: url(Data/img/1.jpg);" id="holi"></div>
					<div class="slide__text">
						<span>
							<h2 class="slide__title">Lsd-Genius</h2>

							<p class="slide__description">Sia, Diplo, Labrinth</a>
						</span>
						<a href="#" title="Listen to the song" class="player-controls">
							<span class="play"></span>
							<span class="pause"></span>
							<span class="audio-label">

							</span>
						</a>
						<audio id="player">
							<source src="Data/music/LSD - Genius ft. Sia, Diplo, Labrinth.mp3" type="audio/mp3">
						</audio>
					</div>
				</div>

				<div class="slide">
					<div class="slide__img glitch" style="background-image: url(Data/img/2.jpg);" id="holi"></div>
					<div class="slide__text">
						<span>
							<h2 class="slide__title">Lsd-Audio</h2>

							<p class="slide__description">Sia, Diplo, Labrinth</a>
						</span>
						<a href="#" title="Listen to the song" class="player-controls">
							<span class="play"></span>
							<span class="pause"></span>
							<span class="audio-label">

							</span>
						</a>
						<audio id="player">
							<source src="Data\music\LSD - Audio ft. Sia Diplo Labrinth.mp3" type="audio/mp3">
						</audio>
					</div>
				</div>
				<div class="slide">
					<div class="slide__text">
						<span>
							<h2 class="slide__title">Alone</h2>

							<p class="slide__description">Halsey</a>
						</span>
						<a href="#" title="Listen to the song" class="player-controls">
							<span class="play"></span>
							<span class="pause"></span>
							<span class="audio-label">

							</span>
						</a>
						<audio id="player">
							<source src="Data\music\Halsey - Alone ft. Big Sean Stefflon Don.mp3" type="audio/mp3">
						</audio>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img glitch" style="background-image: url(Data/img/4.jpg);" id="holi"></div>
					<div class="slide__text">
						<span>
							<h2 class="slide__title">One Kiss</h2>

							<p class="slide__description">Calvin Harris, Dua Lipa</a>
						</span>
						<a href="#" title="Listen to the song" class="player-controls">
							<span class="play"></span>
							<span class="pause"></span>
							<span class="audio-label">

							</span>
						</a>
						<audio id="player">
							<source src="Data\music\Calvin Harris Dua Lipa - One Kiss (Official Video).mp3" type="audio/mp3">
						</audio>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img glitch" style="background-image: url(Data/img/5.jpg);" id="holi"></div>
					<div class="slide__text">
						<span>
							<h2 class="slide__title">Lsd-Genius</h2>

							<p class="slide__description">Sia, Diplo, Labrinth</a>
						</span>
						<a href="#" title="Listen to the song" class="player-controls">
							<span class="play"></span>
							<span class="pause"></span>
							<span class="audio-label">

							</span>
						</a>
						<audio id="player">
							<source src="Data/music/LSD - Genius ft. Sia, Diplo, Labrinth.mp3" type="audio/mp3">
						</audio>
					</div>
				</div>
			</div>

			<nav class="slide-nav">
				<button class="slide-nav__button">
					<span>Previous</span>
				</button>
				<button class="slide-nav__button next">
					<span>Next</span>
				</button>
			</nav>
		</div>
		



		
	</main>

	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/demo.js"></script>
	<script src="js/demo2.js"></script>
	<script src="js/index.js"></script>


</body>

</html