<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PlayList</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<!--<link rel="stylesheet" type="text/css" href="css/style1.css">-->
	<link rel="stylesheet" type="text/css" href="css/stylem.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="css/glitch-slideshow.css" />





	<script>
		document.documentElement.className = "js";
		var supportsCssVars = function () {
			var e, t = document.createElement("style");
			return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports &&
				window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
		};
		supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
	</script>
</head>

<body class="demo-2 loading">

	 <header id="header">
        <nav class="menu">
            <div class="logo">
                <img src="Data/logo-01.png" alt="">
                <a href="#" class="btn-menu" id="btn-menu">
                    <i class="icono fa fa-bars" aria-hidden="true">
                    </i>
                </a>
            </div>

            <div class="enlaces" id="enlaces">
               <a class="home" href="/">New</a>
                <a class="how" href="/buscador">Gallery</a>
                <a class="book" href="#">Tops</a>
                <a class="contact" href="/selecplay">Play List</a>
                <a class="tienda" href="/carrito">

                    <div>
                        <img src="Data/ICONO.png" width="26px" alt="" class="shopping-cart">
                        <span class="carri">0</span>
                    </div>
                </a>
            </div>
        </nav>
    </header>


	
	<main>
		<div class="content">
			<div class="slides slides--contained effect-2">

				<div class="slide slide--current">

					<div class="slide__img glitch" style="background-image: url(Data/img/2.jpg);" id="holi"></div>
					<div class="slide__text">
						<span>
							<h2 class="slide__title">Audio</h2>

							<p class="slide__description">Sia Diplo Labrinth</a>
						</span>
						<a href="#" title="Listen to the song" class="player-controls">
							<span class="play"></span>
							<span class="pause"></span>
							<span class="audio-label">

							</span>
						</a>
						<audio id="player">
							<source src="Data\music\LSD - Audio ft. Sia Diplo Labrinth.mp3" type="audio/mp3">
						</audio>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img glitch" style="background-image: url(img/3.jpg);"></div>
					
				</div>
				<div class="slide">
					<div class="slide__img glitch" style="background-image: url(img/4.jpg);"></div>
					<div class="slide__text">
						<h2 class="slide__title">Fine Quest</h2>
						<p class="slide__description">You have nothing, nothing to threaten me with. Nothing to do with all your strength.</p>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img glitch" style="background-image: url(img/5.jpg);"></div>
					<div class="slide__text">
						<h2 class="slide__title">Dome Being</h2>
						<p class="slide__description">I'll be standing where l belong. Between you and the people of Gotham.</p>
					</div>
				</div>

				
				
			</div>

			<nav class="slide-nav">
				<a href="/playlist">
					<button class="slide-nav__button">
					<span>Previous</span>
				</button>
				</a>
				<a href="/playlistDos"></a>
				<button class="slide-nav__button next">
					<span>Next</span>
				</button>
			</nav>
		</div>
		



		
	</main>

	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/demo.js"></script>
	<script src="js/demo2.js"></script>
	<script src="js/index.js"></script>


</body>

</html