<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Proximity Feedback Ideas | Demo 6 | Codrops</title>
	<meta name="description" content="Some ideas for progressive hover effects on various elements" />
	<meta name="keywords" content="hover, proximity, progressive, feedback, effect, web development, css, javascript" />
	<meta name="author" content="Codrops" />

	<link rel="stylesheet" type="text/css" href="css/baseUno.css" />
	<link rel="stylesheet" type="text/css" href="css/demo6.css" />

</head>

<body class="demo-6 loading">
 <header id="header">
        <nav class="menu">
            <div class="logo">
                <img src="/Data/logo-01.png" alt="">
                <a href="#" class="btn-menu" id="btn-menu">
                    <i class="icono fa fa-bars" aria-hidden="true">
                    </i>
                </a>
            </div>

            <div class="enlaces" id="enlaces">
              <a class="home" href="/">New</a>
                <a class="how" href="/buscador">Gallery</a>
                <a class="book" href="#">Tops</a>
                <a class="contact" href="/selecplay">Play List</a>
                <a class="tienda" href="/carrito">
                    <div>
                        <img src="/Data/ICONO.png" width="26px" alt="" class="shopping-cart">
                        <span class="carrito">0</span>
                    </div>
                </a>
            </div>
        </nav>
    </header>
	<main>

		<div class="grid">

			<a href="/playlist" class="grid__item">
				<div class="grid__item-imgwrap">
					<div class="grid__item-img grid__item-img--scaled">
						<img class="grid__item-img grid__item-img--scaled" src="Data/imgDos/1-01.jpg">
					</div>
				</div>
				<div class="grid__item-content">
					<h3 class="grid__item-title">Pop Mix</h3>
					<span class="grid__item-cta">Halsey, LSD, Dua Lipa</span>
				</div>
			</a>
			<a href="#" class="grid__item">
				<div class="grid__item-imgwrap">
					<div class="grid__item-img grid__item-img--scaled" >
						<img class="grid__item-img grid__item-img--scaled" src="Data/imgDos/1-03.jpg">
					</div>
				</div>
				<div class="grid__item-content">
					<h3 class="grid__item-title">Rock Mix</h3>
					<span class="grid__item-cta">Metalica, ACDC </span>
				</div>
			</a>
			<a href="#" class="grid__item">
				<div class="grid__item-imgwrap">
					<div class="grid__item-img grid__item-img--scaled" >
						<img class="grid__item-img grid__item-img--scaled" src="Data/imgDos/1-04.jpg">
					</div>
				</div>
				<div class="grid__item-content">
					<h3 class="grid__item-title">Jazz Mix</h3>
					<span class="grid__item-cta">Monsieur Periné, Ella Fitzgerald y Louis Armstrong</span>
				</div>
			</a>
			<a href="#" class="grid__item">
				<div class="grid__item-imgwrap">
					<div class="grid__item-img grid__item-img--scaled" >
						<img class="grid__item-img grid__item-img--scaled" src="Data/imgDos/13.jpg">
					</div>
				</div>
				<div class="grid__item-content">
					<h3 class="grid__item-title">Metal Mix</h3>
					<span class="grid__item-cta">Rammstein</span>
				</div>
			</a>

			<a href="#" class="grid__item">
				<div class="grid__item-imgwrap">
					<div class="grid__item-img grid__item-img--scaled" >
						<img class="grid__item-img grid__item-img--scaled" src="Data/imgDos/11.jpg">
					</div>
				</div>
				<div class="grid__item-content">
					<h3 class="grid__item-title">My Mix</h3>
					<span class="grid__item-cta">Ana Mix</span>
				</div>
			</a>
			

		</div>
	</main>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/demo.js"></script>
	<script src="js/TweenMax.min.js"></script>
	<script src="js/nearby.js"></script>
	<script src="js/charming.min.js"></script>
	<script src="js/demo6.js"></script>
</body>

</html>