<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
      <link rel="stylesheet" href="Css/style.css">
    <link rel="stylesheet" href="Css/fontawesome-all.css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:600" rel="stylesheet">
</head>
<body>

     <header id="header">
        <nav class="menu">
            <div class="logo">
                <img src="Data/logo-01.png" alt="">
                <a href="#" class="btn-menu" id="btn-menu">
                    <i class="icono fa fa-bars" aria-hidden="true">
                    </i>
                </a>
            </div>

            <div class="enlaces" id="enlaces">
                <a class="home" href="#">New</a>
                <a class="how" href="#">Books</a>
                <a class="book" href="#">Tops</a>
                <a class="contact" href="#">Ebook</a>
                <a class="contact" href="#">Sing In</a>
            </div>
        </nav>
    </header>
    <!--________________________ /header cerrado____________________ -->

  <!--                              /carrusel-->

    <div class="container">
       
        <div class="arrow arrow-left">
            <i class="fas fa-chevron-circle-left"></i>
        </div>
        <img src="Data\1.jpg" alt="">
        <img src="Data\2.jpg" alt="">
        <img src="https://images.unsplash.com/photo-1471138406156-7a89e687a062?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=7820fc816715b37942a793360b785c60"
            alt="">
        <div class="arrow arrow-right">
            <i class="fas fa-chevron-circle-right"></i>
        </div>

        <div class="dots">
            <div class="dot">
                <i class="far fa-dot-circle"></i>
            </div>
            <div class="dot">
                <i class="far fa-circle"></i>
            </div>
            <div class="dot">
                <i class="far fa-circle"></i>
            </div>
        </div>


    </div>
   



    <!--                              /carrusel cerrado_______________________-->
    <!--                              /flecha de subbbbbbbbbbbbbbbiiiiiiiiiiiir_______________________-->
    <a class="ir-arriba" href="#" title="Volver arriba">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
        </span>
    </a>

    <!--                              /news_______________________-->

    <section class="new">
        <h5>New Books</h5>

        <div class="seccionUno">
            <div class="publicidadUno">
                <img src="Data\2.jpg" alt=" Metamorfosis">
                <h2>La Metamorfosis </h2>
                <h3>Franz Kafka</h3>

            </div>
            <div class="infoUno">
                <p align="left" id="uno" class="parrafo"> It is a story by Franz Kafka published in 1915 that tells the story of Gregorio Samsa, a cloth merchant who
                    lives with his family that he keeps with his salary, who one day dawns turned into a huge insect.</p>

                <p align="left" id="dos" class="parrafo"> It was included in the series Great books of the twentieth century (Great books of the twentieth century),
                    published by Penguin Books.</p>
                <a href="https://www.youtube.com/watch?v=c1ssVWtF230">See More </a>
            </div>


        </div>
        <div class="seccionDos">
            <div class="publicidadDos">
                <img src="Data\3.jpg" alt="">
                <h2>Cuentos Macabros </h2>
                <h3>Edgar Allan Poe</h3>
            </div>
            <div class="infoDos">
                <p align="left" id="uno" class="parrafo">
                    Misery is diverse. Misfortune multiforme rife on earth. Deployed over the wide horizon like the rainbow, its colors are as
                    varied as those of this one and also so different and so intimately united</p>

                <a href="https://www.youtube.com/watch?v=c1ssVWtF230">See More </a>
            </div>

        </div>


    </section>



    <!--                              /news cerrado_______________________-->
    <!--                              /galeria_______________________-->
    <section class="galeria">
        <h5>Gallery</h5>
        <div class="buscador">
            <input type="text" placeholder="Buscar">

        </div>
        <div class="gal">
            <div class="primero">
                <div class="pri">
                    <img src="Data\g-01.png" alt="" width="250px" height="250px">
                    <h4>Song of Ice and Fire </h4>
                    <h6>George R.R. Martin</h6>
                </div>
                <div class="s">
                    <img src="Data\g-02.png" alt="" width="250px" height="250px">
                    <h4>The Sleeping Young Woman and the spindle </h4>
                    <h6>Neil Gaiman</h6>
                </div>
                <div class="t">
                    <img src="Data\g-03.png" alt="" width="250px" height="250px">
                    <h4> A Monster Comes To See Me </h4>
                    <h6>Patricy Ness y Jim Kay</h6>
                </div>
            </div>
            <div class="segundo">
                <div class="pri">
                    <img src="Data\g-04.png" alt="" width="250px" height="250px">
                    <h4> A Bible </h4>
                    <h6>Philippe Lechermeier</h6>
                </div>
                <div class="s">
                    <img src="Data\g-05.png" alt="" width="250px" height="250px">
                    <h4>The End </h4>
                    <h6></h6>
                </div>
                <div class="t">
                    <img src="Data\g-06.png" alt="" width="250px" height="250px">
                    <h4>The Summer Rules </h4>
                    <h6>Shaun Tan</h6>
                </div>
            </div>
            <div class="tersero">
                <div class="pri">
                    <img src="Data\g-7.png" alt="" width="250px" height="250px">
                    <h4>The Little Prince </h4>
                    <h6>Antoine de Saint-Exupéry</h6>
                </div>
                <div class="s">
                    <img src="Data\g-8.png" alt="" width="250px" height="250px">
                    <h4>Seda </h4>
                    <h6>Alessandro Baricco </h6>
                </div>
                <div class="t">
                    <img src="Data\g-9.png" alt="" width="250px" height="250px">
                    <h4>The Ingenious Nobleman Sir Quixote of La Mancha </h4>
                    <h6> Miguel de Cervantes Saavedra.</h6>
                </div>
            </div>

        </div>





    </section>
    <!--                              /galeria cerrado_______________________-->
    <!--                              /Registro_______________________-->
    <div class="registro">
        <div class="texto">
            <div class="titulo">
                <h5 class="import">Know More</h5>
            </div>

        </div>
        <div class="correo">
            <input type="email" name="" placeholder="Your EMail">
            <a href="https://www.youtube.com/watch?v=c1ssVWtF230">See More </a>
        </div>
    </div>
    </div>
    <!--                              /Registro cerrado_______________________-->
    <!--                              /footer______________________-->
    <footer>
        <div class="ifo">

            <div class="log"></div>
            <img src="Data/logo-01.png" alt="" width="50%" height="50%">
            
        </div>
        <div class="cont-social">
            <a href="#">
                <i id="social-fb" class="fab fa-facebook-f social"></i>
            </a>
            <a href="#">
                <i id="social-tw" class="fab fa-twitter social"></i>
            </a>
            <a href="#">
                <i id="social-gp" class="fab fa-google-plus-g social"></i>
            </a>
            <a href="#">
                <i id="social-em" class="fas fa-envelope social"></i>
            </a>
        </div>
    </footer>
    <!--                              /footer cerrado_______________________-->




    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/headroom.js"></script>
    <script src="js\java.js"></script>
     <script src="js\index.js"></script>


    
</body>
</html>